registry=https://artifactory.bayer.com/artifactory/api/npm/npm-platforms-engineering-global/
//artifactory.bayer.com/artifactory/api/npm/npm-platforms-engineering-global/:_authToken=${NPM_TOKEN}
//artifactory.bayer.com/artifactory/api/npm/npm-platforms-engineering-global/:always-auth=true
